.formAdmin{
	background-color: #fff;
}


label{
	font-family: 'Roboto', sans-serif;
}

.container-fluid .row{
	margin-top: 10%;
	background-size: 200%;
}

.container-fluid h3{
	padding-top: 50px;


}

.formAdmin .form-container {
	margin-top: 10%;
	background-color: #fff;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	padding:10px 10px 10px 10px;
	border-radius: 3px;
}

hr{
	margin-top: 30px;
}	
.adminFooter{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	padding: 20px;
	font-size: 20px;

}


