/* index page styles */

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-image: url("../images/nav1.png");
}

.jumbotron{
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    padding-top: 100px;
    color: white; 
}

.jumbotron h1{
    font-family: 'Pacifico', cursive;
     text-shadow: 1px 1px 6px #000000;
    font-size: 70px;
 
}

.jumbotron p{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.jumbotron h5{
    font-size: 20px;
    color: white;
}
.howToStuff{
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.containerDeals{
    color: black;
}

.containerDeals h1{
   font-family: 'Pacifico', cursive;
   font-size: 60px;

   background: -webkit-linear-gradient( #333, #343a40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.itemDeal{
    margin-top: 20px;
}

footer{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/nav.png");
    background-size: cover;
    color: white;
}

footer h5{
    font-style: bold;
    color: tomato;
}
.socialIcons{
    margin-top: 20px;
    margin-bottom: 20px;
}


/*bradcumbs*/
.logg{
    margin-top: 50px;

    background-color: white;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.5);
box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.5);
             border-left: 3px solid red;
             border-radius: 0 !important;
             margin-bottom: 40px;
}




/*=========================================================

                Sign In Page/ User - not registered
                ***********************************
                           signInPage 

=========================================================*/
.signInPage form{
    color: black;
}

/*error msg*/
.signInPage .errorCust{
  background:red;
  color: white;
  padding: 10px;
}

/*success message*/
.signInPage .infoCust{
  background:green;
  color: white;
  padding: 10px;
}
/*=========================================================

                Sign Up Page/ User - not registered
                ***********************************
                            signUpPage

=========================================================*/

.signUpPage{
    color: black;
}

.signUpPage .form-row{
    margin-bottom: 20px;
}

.signUpPage .errmsg{
  margin: 20px 0;
/*  background:red;*/
  border: 1px solid red; 
  color: red;
  padding: 10px;
  text-align: center;
}

.signUpPage .successmsg{
  margin: 20px 0;
/*  background:;*/
  border: 1px solid green; 
  color: green;
  padding: 10px;
  text-align: center;
}
/*.signUpPage form .success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}*/
/*=========================================================

                        loggedIndex Page
                ***********************************
                           loggedHowToStuff

=========================================================*/


/*=========================================================

                        Profile logged
                ***********************************
                           loggedProfile

=========================================================*/
.loggedProfile{
    color: black;
}
.loggedProfile .form-row{
    margin-bottom: 10px;
}
.loggedProfile .regDateCss{
    margin-bottom: 10px;
}

/*=========================================================

                        Settings logged
                ***********************************
                           loggedSettings

=========================================================*/

.loggedSettings{
    color: black;
}

.loggedSettings .form-control{
    margin-bottom: 10px;
}


/*=========================================================

                        Food Menu
                ***********************************
                           loggedFoodMenu

=========================================================*/
.userfoodMenu .breadcrumb{
  margin-top: 50px;

  background-color: white;
  /*-webkit-box-shadow: 2px 6px 4px -6px black;
     -moz-box-shadow: 2px 6px 4px -6px black;
          box-shadow: 2px 6px 4px -6px black;*/
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.5);
box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.5);
             border-left: 3px solid red;
/*             border-right: 3px solid #cc0000;*/
             border-radius: 0 !important;
             margin-bottom: 40px;

}

.paginationCss{
  background: white; 
  margin-top: 20px;

}

.paginationCss .pagination .page-link{
  color: #292b2c!important;
}
/*=========================================================

                        Food Menu / sidebar
                ***********************************
                           sideBarMenu

=========================================================*/
.sidebar-menu .panel-body{
  margin-top: 20px;
}
.sidebar-menu .panelContent{
  margin-top: 50px;
} 

/* not active */
.sidebar-menu .panelContent .sideBarMenu .nav-pills .nav-link:not(.active) {
  background-color: #fff;
    color: #292b2c;
}

/* active*/
.sidebar-menu .panelContent .sideBarMenu .nav-pills .nav-link {
    background-color: #292b2c;
    color: white;
}
